.product_container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: auto;
    place-items: center;
    overflow: hidden;
}

.product {
    padding: 1%;
    width: 100px;
    height: 150px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.product:hover {
    background-color: #ff9d0016;
}

.product_image {
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.product_header {
    transition: all 0.3s ease;
    width: 100%;
}

.product_desc {
    border-radius: 5px;
    padding: 10px;
    display: none;
    background-color: #FF9C00;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
    height: 100%;
    opacity: 0;
    margin-bottom: 20px;
    overflow: scroll;
}

.title {
    height: 30px;
    overflow: scroll;
    font-size: 9px;
}

.price {
    height: 20px;
    overflow: scroll;
    font-size: 9px;
}

.product_header h5::-webkit-scrollbar {
    display: none;
}

.product_desc p {
    font-size: 9px;
}

.product_desc::-webkit-scrollbar {
    display: none;
}

.product_image img {
    max-width: 100%;
    max-height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: multiply;
    background-color: #FFF;
    width: auto;
    height: auto;
}

.product_button {
    color: #FFF;
    background-color: #FF9C00;
    border-radius: 20px;
    font-size: 7px;
    width: 60px;
    height: 21px;
}


.product_button:hover {
    background-color: #ffffff;
    border: 1px solid #FF9C00;
    color: #FF9C00
}

@media (min-width:300px) {
    .product {
        width: 150px;
        height: 210px;
    }

    .product_header h5 {
        font-size: 9px;
    }

    .product_desc p {
        font-size: 10px;
    }
    .product_container {
        grid-template-columns: repeat(2, 3fr);
    }
    .product_button {
        font-size: 9px;
        width: 70px;
        height: 25px;
    }
    
}

@media (min-width:578px) {
    .product {
        width: 175px;
        height: 230px;
    }

    .product_header h5 {
        font-size: 11px;
    }

    .product_desc p {
        font-size: 11px;
    }

    .product_container {
        grid-template-columns: repeat(3, 3fr);
    }
    .product_button {
        font-size: 11px;
        width: 80px;
        height: 28px;
    }
    .title {
        height: 26px;
        font-size: 9px;
    }
    
    .price {
        height: 20px;
        font-size: 9px;
    }

}

@media (min-width: 768px) {
    .product {
        width: 200px;
        height: 250px;
    }

    .product_header h5 {
        font-size: 12px;
    }

    .product_desc p {
        font-size: 12px;
    }

    .product_container {
        grid-template-columns: repeat(3, 3fr);
    }
    .product_button {
        font-size: 12px;
        width: 90px;
        height: 32px;
    }
 
}
@media(min-width:770px) {
    .product_container {
        grid-template-columns: repeat(4, 3fr);
    }
}

@media(min-width:1080px) {
    .product {
        width: 225px;
        height: 270px;
    }
    .product_container {
        grid-template-columns: repeat(5, 3fr);
    }
    .product_button {
        font-size: 13px;
        width: 102px;
        height: 37px;
    }

}