.header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: 500px;
  border-radius: 10px;
  width: 1200px;
  background: linear-gradient(to bottom, #ffbe54b2, rgba(237, 237, 237, 0.826));
  display: flex;
}

.lottie-header {
  height: 460px;
}

.title-input-box {
  flex-direction: column;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-header {
  font-size: 50px;
  font-weight: 500;
  color: white;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 40px;
}

.search-box {
  width: 320px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.283);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input {
  background-color: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
  color: white;
  caret-color: white;
}

.search-box input:active {
  border: none;
}

.search-box input::placeholder {
  color: white;
  margin-left: 20px;
  font-weight: thin;
}

.search-box button {
  border: none;
  border-radius: 20px;
  height: 32px;
  width: 70px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
  color: white;
  background-color: #ff9c00;
}

.search-box button:hover {
  background-color: #ffa616;
}

.button:hover {
  border: 1px solid #ff9c00;
  color: #ff9c00;
}

@media (max-width: 768px) {
  .header {
    margin-top: 65px;
  }

  .header-container {
    flex-direction: column;
    width: 100%;
    border-radius: 0px;
  }

  .lottie-header {
    height: 300px;
  }

  .title-input-box {
    margin-left: 0px;
  }

  .title-header {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .search-box {
    background-color: rgba(128, 128, 128, 0.66);
  }
}
