.nav-box {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.title-navbar {
  font-size: 30px;
  margin: auto;
  letter-spacing: 1px;
  cursor: default;
}

.nav-box ul {
  margin: auto;
  display: flex;
  list-style: none;
  align-items: center;
}

.li-navbar-text {
  color: black;
  font-size: 0.89rem;
  text-decoration: none;
  font-weight: 100;
  position: relative;
}

.li-navbar-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.li-navbar-text:hover {
  color: #ff9c00;
}

.li-navbar-text:hover::after {
  transform: scaleX(0.5);
  background-color: #ff9c00;
}

.sign-box {
  margin-left: 25px;
}

.sign-up-box {
  width: 90px;
  height: 35px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  background-color: #ff9c00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.sign-in-box {
  width: 90px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #ff9c00;
  background-color: white;
  font-size: 14px;
  color: #ff9c00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.sign-in-box:hover {
  color: white;
  background-color: #ff9c00;
}

.sign-in-box:hover + .sign-up-box {
  background-color: white;
  border: 1px solid #ff9c00;
  color: #ff9c00;
}

.sign-up-box:hover {
  color: white;
}

/* =============================================================================== */

/* responsive */

/* Tablet */

@media (max-width: 1024px) {
  .nav-box {
    width: 100%;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
  }

  .title-navbar.visible {
    margin: 0;
    color: rgb(231, 231, 231);
    transition: 1s;
  }

  .title-navbar.hidden {
    margin: 0;
    color: black;
    transition: 1s;
  }

  .nav-box ul {
    padding-top: 120px;
    width: 80%;
    position: absolute;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #060606ad;
    backdrop-filter: blur(10px);
    transition: all 1s;
    z-index: -1;
  }

  .li-navbar-text {
    color: white;
    font-size: 16px;
  }

  .li-navbar-text:hover::after {
    transform: scaleX(1);
  }

  .nav-box ul.visible {
    left: 0;
  }

  .nav-box ul.hidden {
    left: -100%;
  }

  /* ============================ */
  /* menu */

  .top-menu {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100px;
    left: 0;
    z-index: -1;
  }

  .burger-menu {
    height: 50%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
  }

  .burger-bar {
    width: 2em;
    height: 0.3em;
    background-color: #ff9c00;
    border-radius: 0.5em;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.5em, 0.5em);
    transition: ease-out 0.5s;
  }
  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }
  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.5em, 0.5em);
    transition: ease-out 0.5s;
  }

  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

  /* ====================== */
  /* Sign Box */

  .sign-box {
    position: absolute;
    justify-content: end;
    width: 90%;
    top: 0;
    margin-top: 25px;
    margin-left: 0px;
  }

  .sign-up-box {
    color: rgb(231, 231, 231);
    background-color: #ffb237d1;
  }

  .sign-in-box {
    border: 1px solid rgba(255, 255, 255, 0.479);
    background-color: #ff9d0045;
    color: white;
  }

  .sign-in-box:hover {
    color: white;
    background-color: #ffb237d1;
  }

  .sign-in-box:hover + .sign-up-box {
    border: 1px solid rgba(255, 255, 255, 0.479);
    background-color: #ff9d0045;
    color: white;
  }

  .sign-up-box:hover {
    color: white;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .sign-box {
    position: absolute;
    top: 0;
    margin-top: 90px;
    width: 180px;
    font-size: 12px;
    margin-left: 0px;
  }

  .sign-in-box {
    font-size: 12px;
  }
  .sign-up-box {
    font-size: 12px;
  }

  .nav-box ul {
    padding-top: 160px;
  }
}
