.footer_links {
    color: #fff;
    display: inline-block;
    position: relative;
    width: fit-content;
}

.footer_links:after {
    color: #0077c6;
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #0077c6;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;

}

.footer_links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer_links_section {
    display: flex;
    flex-direction: column;
}

.footer_header {
    color: #0077c6;
}

.footersection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_links {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}